<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <script src="~/Content/MyJavaScript.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  

      
        
            <div class="navbar-nav float-left ">
                <a class="nav-item btn  btn-danger nav-link" href="~/Direction/Index">Direction <span class="sr-only">(current)</span></a>
                <a class="nav-item btn  btn-danger nav-link" href="~/Course/Index">Course</a>
                <a class="nav-item btn  btn-danger nav-link" href="~/Subject/index">Subject</a>
                <a class="nav-item btn  btn-danger nav-link" href="~/Students/index">Students</a>
            </div>
        
    
    <div class="container body-content">
        @RenderBody()
        <hr />
  
    </div>
    @ViewBag.delex
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
