@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Login with facebook", "Facebook", "Facebok")
        <table>
            <tr><td>Email:</td><td><b>@TempData["email"]</b></td></tr>
            <tr><td>First Name:</td><td><b>@TempData["first_name"]</b></td></tr>
            <tr><td>Last Name:</td><td><b>@TempData["lastname"]</b></td></tr>
            <tr><td>Picture:</td><td><b><img src="@TempData["picture"]" /></b></td></tr>

        </table>
    </div>
</body>
</html>