@model Geo_Lab_Online.Models.CoursModel

@{
    ViewBag.Title = "Cours";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}



<!-- Directions Page Start-->
<div class="direction_cover design_cover" style="">
    <div class="direction_addres font-BPGNinoMtavruli">
        <div class="container">
            <a href="directions.html"> მიმართულებები </a> / <a href="directions.html/#design"> @Model.Title </a>
            @*<img src="~/Content/Image/@Model.DirectionImage@Model.DirectionImageExt">*@
        </div>

    </div>

</div>
<div class="direction_description">
    <div class="container">
        <span class="block_title font-BPGNinoMtavruli"> @Model.Title </span>
        <div class="direction_intro font-DejaVuSans">
            @Html.Raw(@Model.Desc)
        </div>
    </div>
</div>

<div class="direction_leqciebi" id="direction_leqciebi">
    <div class="container">

        <div class="block_body font-BPGNinoMtavruli">
            @foreach (var w in Model.List)
            {
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href="~/home/Cours/@w.ID"> @w.CourseTitle</a>
                            </div>
                            <div class="lesson_intro">

                            </div>
                        </div>

                    </div>
                </div>}



        </div>
    </div>
</div>
<!-- Directions Page End-->
