@model Geo_Lab_Online.Models.AddLessonsModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<div class="container">
    <div class="form-group">
        <label for="usr">კურსის ID:</label>
        <input type="text" class="form-control" id="subjectid" value="@Model.id" disabled>
    </div>
    <div class="form-group">
        <label for="usr">გაკვეთილის დასახელება:</label>
        <input type="text" class="form-control" id="usr" value="@Model.Title">
    </div>
    <div class="form-group">
        <label for="comment">გაკვეთილის აღწერა:</label>
        <textarea class="form-control" rows="5" id="comment">@Model.Desc</textarea>
    </div>
    <div class="form-group">
        <label for="usr">ვიდეოს ლინკი:</label>
        <input type="text" class="form-control" id="videoURl" value="@Model.videoURl">
    </div>

    <div class="form-group">
        <label for="comment">აირჩიე გაკვეთილში გამოსაყენებელი ედიტორი:</label> <br />
        @if (Model.CodeEditor == "HTML/CSS")
        {
            <label class="radio-inline"><input type="radio" name="optradio" value="HTML/CSS" checked="checked">HTML/CSS</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="C#">C#</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="PHP">PHP</label>
        }
        else if (Model.CodeEditor == "C#")
        {
            <label class="radio-inline"><input type="radio" name="optradio" value="HTML/CSS">HTML/CSS</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="C#" checked="checked">C#</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="PHP">PHP</label>
        }
        else if (Model.CodeEditor == "PHP")
        {
            <label class="radio-inline"><input type="radio" name="optradio" value="HTML/CSS">HTML/CSS</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="C#" >C#</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="PHP" checked="checked">PHP</label>
        }

    </div>
    <div class="form-group">
        <label for="usr">რიგითი ნომერი:</label>
        <input type="text" class="form-control" id="lessonselvl"value="@Model.lessonselvl">
    </div>
    <button type="button" class="editlessons btn btn-success" id="editlessons">Success</button>
    <!-- This will automatically post to your Index method (that is decorated with a HttpPost attribute) -->


</div>
